*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.navigations{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 2% 1%;
    box-shadow:10px 10px 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    background-color: blue;
    color: white;
}

.hero{
    position: absolute;
    margin-left: -70vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    font-size: x-large;

}
.hero span{
    color: rgb(236, 89, 35);
    font-weight: 900;
    font-size: larger;
}
.navi{
    display:flex;
    text-decoration: none;
    margin-left: 15vw;
    margin-top: 1%;
}
.imaage{
    display: none;
}
@media (min-width:430px) and (max-width:640px) {
   
   .container{
    width: 100%;
   } .navigations{
        width: 100%;
        padding-top: 25px;
    }
    .hero{
        margin-top: -15px;
        font-size: smaller;
        margin-left: -55vw;
    }
    .imaage{
        margin-top: -15px;
        display: block;
        position: absolute;
    }

   .navi img{
    margin-left: 37vw;
    width: 4vw;
    height: 3vh;
    margin-top: -1.7vh;
    
   }
    .navi ul{
        display: none;
    }
    .navi ul a{
        display: none;
    }
    .navi ul button{
        display: none;
    }
    .firstbody .cappings h3{
        
        margin-top: -50%;
        width: 100%;

    }
    .firstbody .cappings .btn1{
        margin-left: 6vw;
        position: absolute;
    }
    .bigcap{
        width: 100%;
        margin-left: vw;
        padding-left: -12px;
       
    }
    .secondpix .over{
        
        margin-left: -10%;
        
    }
    .secondpix .over1{
        margin-top: -20%;
        margin-left: -10%;
    }
    
    .secondpix .children{
        display: block;
    }
   
    .secondpix .children img{
        width: 80%;
       margin-left: 9%;
        
    }
    .secondpix .children p{
        margin-top: -3vh;
        height: 20%;
        margin-left: 6%;
        width: 90%;
    }
  .cappings2{
    display: flex;
    flex-direction: column;
    width: 95%;
    
    
  }
  .cappings div{
    width: 95%;
  }
  .vision1 img{
    width: 50vw;
    height: 15vh;
  }
  .thirdbody{
    display: none;
  }
 
}

.navi ul{
    display: flex;
    gap: 7vw;
    text-decoration: none;
}
.navi ul a{
    text-decoration: none;
    color: white;
    font-size: larger;
}
.navi ul a:hover{
    color: black;
    border-bottom: 2px solid rgb(236, 89, 35) ;
}
.navi ul button{
    padding: 1.5% 4%;
    background-color: rgb(236, 89, 35);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 12px;
    border-bottom: none;
    margin-top: -1%;
}
.navi ul button:hover{
    color: rgb(236, 89, 35);
    background-color: white;
    border: 1.5px solid rgb(236, 89, 35);
    border-bottom: none;
}
.firstbody{
    width: 100%;
    height: 60%;
}
.firstbody .homepix{
    margin-top: 6px;
}
.firstbody .homepix img{
    width:100%;
    height: 64vh;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.firstbody .cappings{
    position: absolute;
    margin-top: -45vh;
    width: 60%;
   margin-left: 25%;
}
.firstbody .cappings h3{
    font-size: 36px;
    color: white;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 7vw;
}
.firstbody .cappings h6{
    font-size: 30px;
    color:rgb(236, 89, 35) ;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 7vw;
}
.firstbody .cappings img{
    position: absolute;
    margin-left: -18vw;
    border-radius: 50px;
    border: none;
    margin-top: -8vh;
    width: 40%;
    
}
.firstbody .cappings button{
    padding: 12px 25px;
    color: rgb(236, 89, 35);
    background-color:white ;
    border: none;
    border-radius: 12px;
    margin-left: 25%;
    margin-top: 12px;
}
.firstbody .cappings button:hover{
    color:white  ;
    background-color:rgb(236, 89, 35);
    border: 2px solid white;
}
.bigcap{
    height: 100%;
    margin-top: -5vh;
    background-color: rgb(233, 219, 233);
   
}

.secondbody{
    height: 15vh;
    width: 100%;

    background-color:rgb(236, 89, 35) ;
    border: 1px solid white;
    
    margin-top: -6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 9px;
}
.secondbody div{
    margin-left: 5vw;
    color: white;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}
.children{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}
.children img{
    width: 30%;
    height: 30%;
    margin-top: 19vh;
    border: none;
    border-radius: 12px;
}
.secondpix h5{
    color:rgb(236, 89, 35) ;
    font-weight: 700;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13vh;
    position: absolute;
    margin-left: 46%;
}
.children p{
    width: 50%;
    margin-left: 9vw;
    margin-top: 13vh;
    line-height: 32px;
}
.cappings2{
    display: flex;
    justify-content: center;
    align-content: baseline;
    
    gap: 10px;
    margin-top: 25px;
    margin-left: 12px;
}
.cappings2 div{
    background-color: white;
    border: 2px solid rgb(236, 89, 35);
    border-radius: 10px;
    line-height: 25px;
    padding: 12px 12px;
    width: 100%;
}
.cappings p{
    padding: 6px 10px;
}
.cappings2 div img{
    width: 5vw;
    height: 7vh;
    margin-left: 40%;
    background-color: rgb(236, 89, 35);
    border-radius: 50%;
    padding: 6px 10px;
}
.cappings2 .vision1 h4{
    margin-left: 40%;
}
.thirdbody{
    background-color: rgb(5, 5, 71);
    margin-top: 5vh;
}
.thirdbody h4{
    color:rgb(236, 89, 35) ;
    font-size: x-large;
    padding-top: 6vh;
    margin-left: 3vw;
    padding-bottom: 3vh;

}
.thirdbody a{
    text-decoration: none;
    color: white;
    margin-left: 15%;
    padding-bottom: 3vh;
    font-size: larger;
}
.thirdbody a:hover{
    border-bottom: 2px solid rgb(236, 89, 35)  ;
}
.bodied11{
    display: flex;
    justify-content: center;

}
.bodied11 p{
    width: 40%;
    line-height: 7vh;
    color: white;
    margin-top: 10vh;
    position: absolute;
    margin-left: -30vw;
    height: 30vh;
}
.bodied11 img{
    width: 20%;
    margin-left: 50%;
    border: none;
    border-radius: 12px;
    margin-top: 7vh;
    
}
.contact{
    background-color: black;
    padding-top: 4vh;
    color: white;
    display:flex;
    justify-content: center;
}
.contact h4{
    color:rgb(236, 89, 35) ;
    position: absolute;
    margin-left: -20vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: x-large;
    margin-top: 8vh;
}
.summer p{
    margin-left: 27%;
}
.quicklink{
    position: relative;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
    background-color: black;
    color: grey;
    
}
.bdf{
    position: absolute;
    margin-top: 5vh;
    margin-left: -60vw;
    width: 30%;
}
.quicklink .kweek{
    position: absolute;
    width: 30%;
    background-color: maroon;
    box-shadow: 7px 7px 7px orange;
    color: white;
    padding: 16px 16px;
    border-radius: 12px;
    margin-left: 55vw;
    margin-top: 38vh;
}
.contactt{
    width: 25%;
    margin-top: 10vh;
    margin-left: 25vw;
}
.telly{
    margin-top: 15vh;
    margin-left: 9vw;
    margin-bottom: 12px;
}
.quicklink .kweek div{
    padding: 12px 12px;
    
}
.copy{
    margin-top: 35vh;
    padding-top: 38px;
    padding-bottom: 25px;
    position: absolute;
}
.quicklink .kweek p{
    color: maroon;
}
.quicklink .kweek div input{
    width: 60%;
    
}
.quicklink .kweek .user{
    margin-left: 10%; 
}
.quicklink .kweek h3{
    margin-left: 25%;
}
.btnn{
   margin-left: 30%;
   padding: 12px 25px;
   color: maroon;
   background-color: white;
   font-size: medium;
   border-radius: 12px;
}
.btnn:hover{
    color: white;
    opacity: 50;
    background-color: orangered;
}


.quicklink a{
    text-decoration: none;
    color: white;
    display: block;
    padding-top: 12px;
}
.quicklink a:hover{
    color: orangered;
}


/*about us*/
.frint{
    height: 40%;
    width: 100%;
    background-color: tan;
}
.frint img{
    min-width: 100%;
    height: 30vh;
    filter: blur(12px);
    -webkit-filter: blur(12px);
}
.frint h3{
    position: absolute;
    margin-top: -20vh;
   margin-left: 43%;
   color: white;
   
   font-size: 25px;
}
.about1 h4{
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.story1 img{
width: 30%;
height: 50vh;
}
.story1 p{
    line-height: 36px;
    padding-left: 12vw;
    margin-top: 12px;
    width: 90%;
    
}
.summar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 25px;
}
/*services*/
.serve{
    width: 100%;
    height: 30%;
    background-color: peru;
}
.serve img{
    margin-top: 5px;
    margin-left: 6px;
    width: 50%;
    height: 50%;
}
.serve .sum{
    position: absolute;
    margin-left: 65%;
    margin-top: -20%;
    
   
}
.serve h3{
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.parent{
    gap: 25px;
}
.over{
    margin-top: 12px;
    line-height: 36px;
    margin-left: 12px;
}
.parent .children{
    margin-top:0;
    padding: 12px 6px;
    background-color: thistle;
    border-bottom: 10px white;
}
.children1{
    margin-top:-15vh;
    padding: 12px 6px;
   
    border-bottom: 10px white;
    margin-bottom: 25px;
}
.children1 img{
    width: 30%;
    height: 30%;
    margin-top: 19vh;
    border: none;
    border-radius: 12px;
    margin-left: 6vw;
}
.children1 p{
    width: 50%;
    margin-left: 43vw;
    margin-top: -36vh;
    line-height: 32px;
}
.server{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -18%;
    
}
/*testimonies*/
.testimonial-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    max-width: 600px; /* Adjust as needed */
    margin: auto;
  }
  
  .testimonial-slider {
    display: flex;
    width: 300%;
    animation: slide 120s infinite;
  }
  
  .testimonial {
    flex: 1;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    33% {
      transform: translateX(-100%);
    }
    66% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .players{
    display: flex;
    justify-content: center;
    align-content: baseline;
    
    gap: 10px;
    margin-top: 7vh;
    margin-left: 12px;
}
.team h3{
    
    margin-left: 45%;
}
.players div{
    background-color: white;
    border: 2px solid rgb(236, 89, 35);
    border-radius: 10px;
    line-height: 25px;
    padding: 12px 12px;
    width: 100%;
}
.players p{
    padding: 6px 10px;
}
.players div img{
    width: 5vw;
    height: 7vh;
    margin-left: 40%;
    background-color: rgb(236, 89, 35);
    border-radius: 50%;
    padding: 6px 10px;
}
.players .vision1 h4{
    margin-left: 40%;
}
/*contact us*/
.contakt h3{
    position: absolute;
    color: white;
    margin-left: 45%;
    margin-top: 10%;
    font-weight: 800;
    font-size: larger;
}
.contakt p{
    position: absolute;
    color: white;
    margin-left: 28%;
    margin-top: 12%;
    width: 53%;
    font-size: large;
}
.rook{
    width: 100%;
    height: 45vh;
    
}
/*contact*/
.kontact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.kontact h3{
    margin-left: 20vw;
    color:blue;
    font-size: x-large;
    
}
.kontakt{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.kontakt .kontakt1{
    margin-left: 16vw;
    margin-top: 25px;
    gap: 12px;
}
.kontakt .kontakt1 p{
    margin-top: 12px;
    color: orangered;
}
.kontakt1 textarea{
    width: 50%;
}
.kontakt1 input{
    margin-top: 12px;
    margin-bottom: 25px;
    
}
.kontakt1 div{
    margin-top: 25px;
    margin-left: 5vw;
}
.kontakt1 form{
    margin-top: 25px;
    background-color: tan;
    border: 2px solid orangered;
    border-radius: 12px;
    margin-bottom: 25px;
}
.kontakt1 .send{
    margin-left: 50%;
    padding: 12px 25px;
    border: 2px solid orange;
    background-color: orangered;
    border-radius: 12px;
    color: white;
    margin-bottom: 25px;
}
.kontakt1 .send:hover{
    background-color: orange;
    border: 2px solid orangered;
}